/* Medium Devices, Desktops */
@media only screen and (max-width : 690px) {
    .container .center .center_main .links {
        padding: 0 8vh;
    }
    .center .center_main .links .links_bottom {
        display: block;
        height: auto;
    }
    .center .center_main .links .links_bottom .vk_share,
    .center .center_main .links .links_bottom .twitter_share,
    .center .center_main .links .links_bottom .facebook_share {
        display: inline-flex;
        width: 28%;
    }
    .center .center_main .links .links_bottom .vk_share {
        border-left: none;
    }
    .center .center_main .links .links_bottom .share {
        width: 100%;
        border-bottom: 0.3vh solid #af3031;
    }
}
@media only screen and (max-width : 520px) {
	.center .center_main .word_list_wrap .word_list li {
		white-space: normal;
	}
    .center .center_main_wrap {
        display: block;
    }
    .center .center_main_wrap .center_main {
        width: 100%;
        display: block;
    }
    .center .center_main .word {
        position: absolute;
        left: 0;
        right: 0;
        top: 45%;
    }
    .center .center_main .not_me_btn {top: 50%;}
	.center .center_main .wai_btn {
		position: absolute;
		top: 50%;
	}
	.bottom_left_block .log_form_wrap .log_form {
		width: 100%;
		margin: 0 5vh;
	}
}
